aiocache==0.12.0
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.17.0
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.4.0
arsenic==21.8
asgiref==3.5.2
async-timeout==4.0.3
attrs==24.1.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.3
blinker==1.6.2
Brotli==1.0.9
browser-cookie3==0.19.1
build==1.2.2
cachetools==5.5.0
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.5
click==8.1.7
coloredlogs==15.0.1
contourpy==1.2.1
cryptography==38.0.4
ctransformers==0.2.27
cycler==0.12.1
dataclasses-json==0.6.7
Deprecated==1.2.14
diskcache==5.6.3
Django==1.10.8
django-classy-tags==0.8.0
django-sekizai==0.10.0
dnspython==2.3.0
docker==7.0.0
docopt==0.6.2
docx==0.2.4
docxcompose==1.4.0
docxtpl==0.18.0
fastapi==0.115.0
filelock==3.16.1
Flask==2.2.5
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
flatbuffers==24.3.25
fonttools==4.51.0
foundation==0.1.0a0.dev1
frozenlist==1.4.1
fsspec==2024.9.0
google-auth==2.34.0
googleapis-common-protos==1.65.0
greenlet==2.0.2
grpcio==1.66.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
httpx-ntlm==1.4.0
huggingface-hub==0.25.0
humanfriendly==10.0
hyperframe==6.0.1
idna==3.6
importlib_metadata==8.4.0
importlib_resources==6.4.5
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
kaitaistruct==0.10
kiwisolver==1.4.5
kubernetes==30.1.0
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.1
langchain-huggingface==0.1.0
langchain-text-splitters==0.3.0
langsmith==0.1.121
ldap3==2.9.1
llama_cpp_python==0.2.90
loguru==0.7.2
lxml==4.9.4
lz4==4.3.3
Mako==1.3.5
manticoresearch==3.3.0
mariadb==1.1.10
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.22.0
matplotlib==3.8.4
mdurl==0.1.2
mitmproxy==9.0.0
mitmproxy_wireguard==0.1.23
mmh3==5.0.0
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.6
multidict==6.0.5
mypy-extensions==1.0.0
mysql-connector==2.2.9
mysql-connector-python==8.4.0
networkx==3.3
numpy==1.25.2
oauthlib==3.2.2
onnxruntime==1.19.2
opencv-python==4.9.0.80
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orjson==3.10.7
overrides==7.7.0
packaging==24.0
pandas==2.0.3
paramiko==3.3.1
passlib==1.7.4
pdfminer.six==20240706
pika==1.3.2
pillow==10.3.0
posthog==3.6.6
prompt-toolkit==3.0.39
protobuf==4.25.4
psycopg2-binary==2.9.9
publicsuffix2==2.20191221
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1_modules==0.4.1
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pyflakes==3.1.0
Pygments==2.16.1
pymongo==4.6.1
pymssql==2.2.8
PyMySQL==1.1.0
PyNaCl==1.5.0
pynvim==0.4.3
pyobjc==10.2
pyobjc-core==10.2
pyobjc-framework-Accessibility==10.2
pyobjc-framework-Accounts==10.2
pyobjc-framework-AddressBook==10.2
pyobjc-framework-AdServices==10.2
pyobjc-framework-AdSupport==10.2
pyobjc-framework-AppleScriptKit==10.2
pyobjc-framework-AppleScriptObjC==10.2
pyobjc-framework-ApplicationServices==10.2
pyobjc-framework-AppTrackingTransparency==10.2
pyobjc-framework-AudioVideoBridging==10.2
pyobjc-framework-AuthenticationServices==10.2
pyobjc-framework-AutomaticAssessmentConfiguration==10.2
pyobjc-framework-Automator==10.2
pyobjc-framework-AVFoundation==10.2
pyobjc-framework-AVKit==10.2
pyobjc-framework-AVRouting==10.2
pyobjc-framework-BackgroundAssets==10.2
pyobjc-framework-BusinessChat==10.2
pyobjc-framework-CalendarStore==10.2
pyobjc-framework-CallKit==10.2
pyobjc-framework-CFNetwork==10.2
pyobjc-framework-Cinematic==10.2
pyobjc-framework-ClassKit==10.2
pyobjc-framework-CloudKit==10.2
pyobjc-framework-Cocoa==10.2
pyobjc-framework-Collaboration==10.2
pyobjc-framework-ColorSync==10.2
pyobjc-framework-Contacts==10.2
pyobjc-framework-ContactsUI==10.2
pyobjc-framework-CoreAudio==10.2
pyobjc-framework-CoreAudioKit==10.2
pyobjc-framework-CoreBluetooth==10.2
pyobjc-framework-CoreData==10.2
pyobjc-framework-CoreHaptics==10.2
pyobjc-framework-CoreLocation==10.2
pyobjc-framework-CoreMedia==10.2
pyobjc-framework-CoreMediaIO==10.2
pyobjc-framework-CoreMIDI==10.2
pyobjc-framework-CoreML==10.2
pyobjc-framework-CoreMotion==10.2
pyobjc-framework-CoreServices==10.2
pyobjc-framework-CoreSpotlight==10.2
pyobjc-framework-CoreText==10.2
pyobjc-framework-CoreWLAN==10.2
pyobjc-framework-CryptoTokenKit==10.2
pyobjc-framework-DataDetection==10.2
pyobjc-framework-DeviceCheck==10.2
pyobjc-framework-DictionaryServices==10.2
pyobjc-framework-DiscRecording==10.2
pyobjc-framework-DiscRecordingUI==10.2
pyobjc-framework-DiskArbitration==10.2
pyobjc-framework-DVDPlayback==10.2
pyobjc-framework-EventKit==10.2
pyobjc-framework-ExceptionHandling==10.2
pyobjc-framework-ExecutionPolicy==10.2
pyobjc-framework-ExtensionKit==10.2
pyobjc-framework-ExternalAccessory==10.2
pyobjc-framework-FileProvider==10.2
pyobjc-framework-FileProviderUI==10.2
pyobjc-framework-FinderSync==10.2
pyobjc-framework-FSEvents==10.2
pyobjc-framework-GameCenter==10.2
pyobjc-framework-GameController==10.2
pyobjc-framework-GameKit==10.2
pyobjc-framework-GameplayKit==10.2
pyobjc-framework-HealthKit==10.2
pyobjc-framework-ImageCaptureCore==10.2
pyobjc-framework-InputMethodKit==10.2
pyobjc-framework-InstallerPlugins==10.2
pyobjc-framework-InstantMessage==10.2
pyobjc-framework-Intents==10.2
pyobjc-framework-IntentsUI==10.2
pyobjc-framework-IOBluetooth==10.2
pyobjc-framework-IOBluetoothUI==10.2
pyobjc-framework-IOSurface==10.2
pyobjc-framework-iTunesLibrary==10.2
pyobjc-framework-KernelManagement==10.2
pyobjc-framework-LatentSemanticMapping==10.2
pyobjc-framework-LaunchServices==10.2
pyobjc-framework-libdispatch==10.2
pyobjc-framework-libxpc==10.2
pyobjc-framework-LinkPresentation==10.2
pyobjc-framework-LocalAuthentication==10.2
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.2
pyobjc-framework-MailKit==10.2
pyobjc-framework-MapKit==10.2
pyobjc-framework-MediaAccessibility==10.2
pyobjc-framework-MediaLibrary==10.2
pyobjc-framework-MediaPlayer==10.2
pyobjc-framework-MediaToolbox==10.2
pyobjc-framework-Metal==10.2
pyobjc-framework-MetalFX==10.2
pyobjc-framework-MetalKit==10.2
pyobjc-framework-MetalPerformanceShaders==10.2
pyobjc-framework-MetalPerformanceShadersGraph==10.2
pyobjc-framework-MetricKit==10.2
pyobjc-framework-MLCompute==10.2
pyobjc-framework-ModelIO==10.2
pyobjc-framework-MultipeerConnectivity==10.2
pyobjc-framework-NaturalLanguage==10.2
pyobjc-framework-NetFS==10.2
pyobjc-framework-Network==10.2
pyobjc-framework-NetworkExtension==10.2
pyobjc-framework-NotificationCenter==10.2
pyobjc-framework-OpenDirectory==10.2
pyobjc-framework-OSAKit==10.2
pyobjc-framework-OSLog==10.2
pyobjc-framework-PassKit==10.2
pyobjc-framework-PencilKit==10.2
pyobjc-framework-PHASE==10.2
pyobjc-framework-Photos==10.2
pyobjc-framework-PhotosUI==10.2
pyobjc-framework-PreferencePanes==10.2
pyobjc-framework-PushKit==10.2
pyobjc-framework-Quartz==10.2
pyobjc-framework-QuickLookThumbnailing==10.2
pyobjc-framework-ReplayKit==10.2
pyobjc-framework-SafariServices==10.2
pyobjc-framework-SafetyKit==10.2
pyobjc-framework-SceneKit==10.2
pyobjc-framework-ScreenCaptureKit==10.2
pyobjc-framework-ScreenSaver==10.2
pyobjc-framework-ScreenTime==10.2
pyobjc-framework-ScriptingBridge==10.2
pyobjc-framework-SearchKit==10.2
pyobjc-framework-Security==10.2
pyobjc-framework-SecurityFoundation==10.2
pyobjc-framework-SecurityInterface==10.2
pyobjc-framework-SensitiveContentAnalysis==10.2
pyobjc-framework-ServiceManagement==10.2
pyobjc-framework-SharedWithYou==10.2
pyobjc-framework-SharedWithYouCore==10.2
pyobjc-framework-ShazamKit==10.2
pyobjc-framework-Social==10.2
pyobjc-framework-SoundAnalysis==10.2
pyobjc-framework-Speech==10.2
pyobjc-framework-SpriteKit==10.2
pyobjc-framework-StoreKit==10.2
pyobjc-framework-Symbols==10.2
pyobjc-framework-SyncServices==10.2
pyobjc-framework-SystemConfiguration==10.2
pyobjc-framework-SystemExtensions==10.2
pyobjc-framework-ThreadNetwork==10.2
pyobjc-framework-UniformTypeIdentifiers==10.2
pyobjc-framework-UserNotifications==10.2
pyobjc-framework-UserNotificationsUI==10.2
pyobjc-framework-VideoSubscriberAccount==10.2
pyobjc-framework-VideoToolbox==10.2
pyobjc-framework-Virtualization==10.2
pyobjc-framework-Vision==10.2
pyobjc-framework-WebKit==10.2
pyodbc==4.0.39
pyOpenSSL==22.1.0
pyparsing==3.0.9
pypdf==5.0.0
PyPDF2==3.0.1
pyperclip==1.8.2
PyPika==0.48.9
pyproject_hooks==1.1.0
pyspnego==0.11.1
pyTelegramBotAPI==4.17.0
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-telegram-bot==21.4
pytz==2023.3
pyvim==3.0.3
PyYAML==6.0.1
redis==5.0.0
regex==2024.9.11
reportlab==4.2.2
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.8.1
rsa==4.9
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.12.0
sentence-transformers==3.1.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.19
sshtunnel==0.4.0
starlette==0.38.5
structlog==20.2.0
sympy==1.13.2
telebot==0.0.5
telegram==0.0.1
tenacity==8.5.0
threadpoolctl==3.5.0
tld==0.13
tokenizers==0.19.1
torch==2.4.1
tornado==6.4.1
tqdm==4.66.1
transformers==4.44.2
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.0.4
urwid==2.1.2
uvicorn==0.30.6
uvloop==0.20.0
wapiti3==3.1.8
watchfiles==0.24.0
wcwidth==0.2.6
websocket-client==1.8.0
websockets==13.0.1
Werkzeug==2.3.7
wrapt==1.16.0
wsproto==1.2.0
XlsxWriter==3.1.9
yarl==1.9.4
yaswfp==0.9.3
zipp==3.20.2
zstandard==0.18.0
